.container-characters {
    display: flex;
    flex-wrap: wrap;
}

.container-comics {
    display: flex;
    flex-wrap: wrap;
}

.h_line {
    border-bottom: 2px solid rgb(80, 80, 78);
    width: 250px;
}

.item {
    flex-basis: 50%;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.item-comic {
    flex-basis: 50%;
    box-sizing: border-box;
    height: auto;
    margin-top: 15px;
}

.item-comic:hover {
    font-weight: 600;
}

.avatar-character {
    border-radius: 50%;
    width: 105%;
    -webkit-filter: drop-shadow(4px 2px 2px #222);
    filter: drop-shadow(4px 2px 2px #222);
}



@media (max-width: 576px) {
    .avatar-character {
        width: 90%;
    }
}

.card {

    min-width: 325px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    background-color: #fff;
}


input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    opacity: 0.7;
    pointer-events: none;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}