<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><img src="./assets/icons/Marvel_Logo.png" style="width: 100px" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="container">
    <div class="gif">
      <img src="https://i.postimg.cc/2yrFyxKv/giphy.gif" alt="gif_ing" />
    </div>
    <div class="content">
      <h1 class="main-heading">This page is gone.</h1>
      <p>
        ...maybe the page you're looking for is not found or never existed.
      </p>
      <a href="/">
        <button>Back to home</button>
      </a>
    </div>
  </div>